/*=========================================================================================
    File Name: laravel-menu.scss
    Description: laravel Specific menu styles
    ----------------------------------------------------------------------------------------
    Item name: Vuexy  - Vuejs, HTML & Laravel Admin Dashboard Template
    Author: PIXINVENT
    Author URL: http://www.themeforest.net/user/pixinvent
==========================================================================================*/

/*========================================================
        DARK LAYOUT
=========================================================*/

body.vertical-layout.vertical-menu-modern .horizontal-menu-wrapper {
  display: none;
}

.horizontal-menu > .main-menu {
  display: none;
}

.horizontal-menu .fixed-top {
  left: 0;
}

html body.navbar-static .app-content .header-navbar {
  background: transparent;
  box-shadow: none !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice{
  padding: 2px 5px !important;
}

td.details-control{
  cursor: pointer;
  background: url('https://datatables.yajrabox.com/images/details_open.png') center center no-repeat;
}
tr.shown td.details-control{
  background: url('https://datatables.yajrabox.com/images/details_close.png') center center no-repeat;
}

#toast-container>div:hover {
  box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, .75)
}

.toast {
  background-color: #7367F0
}

.toast-success {
  background-color: #28C76F
}

.toast-error {
  background-color: #EA5455
}

.toast-info {
  background-color: #00CFE8
}

.toast-warning {
  background-color: #FF9F43
}

.toggleable{
  display: none;
}


@media (max-width: 575.98px) {
  body.vertical-layout:not(.horizontal-layout).navbar-floating .header-navbar {
    margin-left: 1.2rem;
    margin-right: 1.2rem;
  }
}

